body {
    margin: 0;
    padding: 0;
}

.logoimg {

    margin-left: 40px;
    margin-top: 20px;

}

.navbar {

    background-color: rgba(231, 211, 187, 0.587);
    width: 100%;
    height: 70px;
}

.navbar ul {
    display: flex;
    position: absolute;
    top: 8px;
    margin-left: 430px;

}

ul li {


    list-style-type: none;
    margin-left: 21px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;

}
li a{
    text-decoration: none;
    color: black;
}

.navbutton {
    float: right;
    background-color: black;
    color: white;
    border: none;
    font-size: 10px;
    padding: 12px 23px 12px 23px;
    margin-top: 17px;
    margin-right: 22px;
    cursor: pointer;


}

.content {
    position: absolute;
    top: 100px;
    left: 150px;
}

.h3h1 {

    margin-left: 40px;

}

.contenth3 {
    font-size: 16px;
    position: relative;
    top: 30px;
    font-style: oblique;
    color: rgb(89, 7, 7);
    ;


}

.contenth1 {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 45px;


}

.paragraphbutton {
    margin-left: 80px;
    position: absolute;
    top: 210px;
}

.contentbutton {
    border: none;
    background-color: rgb(89, 7, 7);
    color: white;
    padding: 12px 23px 12px 23px;
    position: relative;
    top: 35px;
    cursor: pointer;
}

.box1 {
    width: 450px;
    height: 400px;
    background-color: rgb(89, 7, 7);
    position: absolute;
    top: 230px;
    left: 60%;



}

.boximg {
    position: absolute;
    top: 131px;
    left: 600px;
    width: 610px;
    height: 500px;
}

li:hover {
    color: rgb(89, 7, 7);
}

.sectionh1{
    background-color: rgb(0, 0, 0);
    color: rgb(148, 25, 29);
    font-size: 100px;
    text-align: center;
}
